@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --black:#090909;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--gray);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:rgb(192, 183, 183);
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

body{
    background:rgb(85, 83, 83);
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:5rem;
}

.btn{
    padding:.7rem 3rem;
    background:rgb(50, 49, 49);
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn:hover{
    background:var(--black);
}


.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:rgb(27, 21, 21);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#8aa4bc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user .name{
    font-size: 3.5rem;
    color:rgb(10, 9, 9);
}

header .user .post{
    font-size: 2rem;
    color:rgb(41, 39, 39);
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:rgb(241, 239, 239);
    font-size: 2rem;
    border-radius: 10rem;
}

header .navbar ul li a:hover{
    background:var(--black);
}


.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 12rem;
}

h4{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:rgb(10, 9, 9);
}

.home h1 span{
    color:var(--black);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 2rem 0;
}


.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}


.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-left: 1rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 1rem;
    border-left: .2rem solid rgb(20, 19, 19);
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.8rem;
    color:rgb(13, 11, 11);
    padding: 1rem 0;
}


.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:rgb(19, 17, 17);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}